body {
  margin: 0;
  font-family: FairfaxHD, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  overflow-x: hidden;
}

@font-face {
  src: url('/public/fonts/FairfaxHD.woff2') format('woff2');
  font-family: FairfaxHD;
  /*unicode-range: U+F1900-F19FF;*/
  font-weight: normal;
  font-style: normal;
}